{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": { "browsers": ["last 2 versions", "Explorer 11"] },
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "react-require",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-react-display-name"
  ],
  "env": {
    "commonjs": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "loose": true
          }
        ]
      ]
    }
  }
}